.uploader--default-img {
  object-fit: cover;
}

.ant-upload {
  overflow: hidden;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: filter .3s ease;
  }
  &:hover {
    img {
      filter: brightness(0.7);
    }
    .hover-svg {
      display: block;
      animation: fadeIn 0.3s ease;
    }
  }
}

.hover-svg {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

:where(
    .css-dev-only-do-not-override-1xg9z9n
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload.ant-upload-select {
  width: 88px;
  height: 88px;
}

:where(
    .css-dev-only-do-not-override-1xg9z9n
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select,
:where(
    .css-dev-only-do-not-override-1xg9z9n
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload.ant-upload-select {
  border: 0;
}

:where(
    .css-dev-only-do-not-override-1xg9z9n
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper,
:where(
    .css-dev-only-do-not-override-1xg9z9n
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper {
  width: 88px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
