.sidebar {
  background-color: #414ef6;
  grid-row: 1/3;
  grid-column: 1/2;
  padding: 168px 32px 52px;
  display: flex;
  flex-direction: column;
}

.sidebar__img {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 72px;
  height: 40px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 79px;
  padding: 0;
}

.menu__item {
  color: #ffffff;
  border-radius: 8px;
}

.menu__link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  line-height: 24px;
  color: inherit;
  width: 100%;
  user-select: none;
  padding: 16px;
}

.menu__item:hover {
  background-color: #7a83f9;
  transition-duration: 0.2s;
}

.active--menu {
  background-color: #333fce !important;
}

.menu__signout {
  margin-top: auto;
}
