.split-content {
  display: grid;
  grid-column: 2/4;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background-color: #F5F6FE;
  border-top: 1px solid #EAEAEB;
}

.split-content > :not(:last-child) {
  border-right: 1px solid #EAEAEB;
}