.upcoming-events__content {
  display: flex;
  padding: 40px 32px 50px 34px;
  overflow: hidden;
}

.upcoming-events__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.upcoming-events__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 0;
}

.upcoming-events__introduction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upcoming-events__introduction--title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
