@import "./normalize.css";

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: local("Roboto"), url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: local("Roboto"), url(../assets/fonts/Roboto-Bold.ttf);
}

#root {
  font-family: Roboto;
  background-color: #414ef6;
}
