.split-content {
  display: grid;
  grid-column: 2/4;
  grid-template-columns: 38% 62%;
  background-color: #f5f6fe;
  border-top: 1px solid #eaeaeb;
  overflow: hidden;
}

.split-content > :not(:last-child) {
  border-right: 1px solid #eaeaeb;
}
